.aboutContainer {
    min-height: 100vh;
    overflow-x: hidden;
}

.aboutintroContainer{
    width: 100vw;
    padding: 100px 0;
    background-color: var(--main-black);
    display: flex;
    align-items: center;
    justify-content: center;

    .aboutBox{
        width: 95vw;
        background-color: var(--main-black);
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 30px 10%;
        box-shadow: rgba(50, 50, 93, 0.30) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

        img{
            width: 18vw;
            max-width: 500px;
            border-radius: 15px;
          ;
        }

        .aboutText{
            margin-left: 100px;

            h1{
                color: var(--main-purple);
                font-size: 40px;
                margin-bottom: 50px;
            }
            h2{
                color: white;
                font-size: 20px;
                font-weight: normal;
            }
        }
    }
}
.myhabilityTitle {
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
    background-color: var(--main-black);
    padding-right: 30px;
    h1{
        color: white;
        background-color: var(--main-black);
        font-size: 50px;
        font-family: 'Montserrat';
        font-weight: normal;
        padding-bottom: 50px;
    }
}