.aboutContainer {
    min-height: 100vh;
    overflow-x: hidden;
}

.aboutintroContainer{
    width: 100vw;
    padding: 100px 0;
    background-color: var(--main-black);
    display: block;
    align-items: center;
    justify-content: center;

    .aboutBox{
        width: 95vw;
        background-color: var(--main-black);
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 30px 10%;

        img{
            width: 18vw;
            max-width: 500px;
            border-radius: 15px;
          ;
        }

        .aboutText{
            margin-left: 100px;

            h1{
                color: var(--main-purple);
                font-size: 40px;
                margin-bottom: 20px;
            }
            h2{
                color: white;
                font-size: 20px;
                font-weight: normal;
            }
        }
    }
}
.myhabilityTitle {
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
    background-color: var(--main-black);
    padding-right: 30px;
    h1{
        color: white;
        background-color: var(--main-black);
        font-size: 50px;
        font-family: 'Montserrat';
        font-weight: normal;
        padding-bottom: 50px;
    }
}

.lineAboutItem1, .lineAboutItem2, .lineAboutItem3, .lineAboutItem4 {
    position: absolute;
    width: 5px;
    height: 50px;
    background-color: var(--main-purple);
}   

.lineAboutItem1 {
    animation: scroll1 6s ease-out infinite;
    left: 10%;
}

.lineAboutItem2 {
    animation: scroll2 8s ease-out infinite;
    left: 35%;
}

.lineAboutItem3 {
    animation: scroll1 9s ease-out infinite;
    right: 35%;
}

.lineAboutItem4 {
    animation: scroll2 7s ease-out infinite;
    right: 10%;
}