.homeContainer {
    min-height: 100vh;
    overflow-x: hidden;
}

.pgContainer{
    width: 100vw;
    height: 100vh;
    background-color: var(--main-black);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .text{
        text-align: center;
        z-index: 10;

        h1{
            color: white;
            font-family: roboto, arial, helvetica;
            font-size: 60px;
            a{
                color: var(--main-purple);
                &:before {
                    content: '';
                    animation: titleChange 20s infinite;
                }
            }
        }
        h2{
            color: white;
            font-family: roboto, arial, helvetica;
            font-size: 60px;
        }
        h3{
            padding-top: 15px;
            color: rgb(255, 255, 255);
            font-family: Roboto, arial, helvetica;
            font-size: 30px;
            font-weight: normal;
        }

        .buttonContainer{
            display: flex;
            margin-top: 25px;
            justify-content: center;
        }
    }

   
}
.homeButtonpurple{
    font: normal normal 600 18px/25px 'Helvetica';
    border: none;
    border-radius: 8px;
    background-color: var(--main-purple);
    color: white;
    padding: 15px 50px;
    cursor: pointer;
    transition-duration: 0.2s;
    margin: 0 10px;

    &:hover {
        background-color: var(--main-purple-hover);
    }
}
.homeButtonblack{
    font: normal normal 600 18px/25px 'Helvetica';
    border: 1px solid white;
    border-radius: 8px;
    background-color: var(--main-black);
    color: white;
    padding: 15px 50px;
    cursor: pointer;
    transition-duration: 0.2s;
    margin: 0 10px;

    &:hover {
        background-color: var(--main-purple-hover);
    }
}

.lineItem1, .lineItem2, .lineItem3, .lineItem4 {
    position: absolute;
    width: 5px;
    height: 50px;
    background-color: var(--main-purple);
}   

.lineItem1 {
    animation: scroll1 6s ease-out infinite;
    left: 10%;
}

.lineItem2 {
    animation: scroll2 8s ease-out infinite;
    left: 35%;
}

.lineItem3 {
    animation: scroll1 9s ease-out infinite;
    right: 35%;
}

.lineItem4 {
    animation: scroll2 7s ease-out infinite;
    right: 10%;
}

.separator1{
    width: 100%;
    height: 1px;
    background-color: rgb(82, 82, 82);
    border: none;
}

.separator2{
    width: 100%;
    height: 1px;
    background-color: rgb(82, 82, 82);
    border: none;
}

.introContainer{
    width: 100vw;
    padding: 200px 0;
    background-color: var(--main-black);
    display: flex;
    align-items: center;
    justify-content: center;

    .introBox{
        z-index: 10;
        width: 70vw;
        background-color: var(--main-black);
        border: 3px solid #1c1e22;
        padding: 30px;
        box-shadow: 5px 5px 16px 7px #d7d7d75e;
        position: relative;

        .reactTurn1, .reactTurn2, .reactTurn3, .reactTurn4 {
            position: absolute;
            background-color: var(--main-purple);
        }

        .reactTurn1 {
            animation: rect1 6s infinite;
            top: -3px;
            height: 5px;
        }

        .reactTurn2 {
            animation: rect2 6s infinite;
            left: -3px;
            width: 5px;
        }

        .reactTurn3 {
            animation: rect3 6s infinite;
            bottom: -3px;
            height: 5px;
        }

        .reactTurn4 {
            animation: rect4 6s infinite;
            right: -3px;
            width: 5px;
        }


        .profile{
            display: flex;
            align-items: center;
            margin-bottom: 30px;

            img{
                background-size: cover;
                background-position-y: -75px;
                background-repeat: no-repeat;
                width: 200px;
                height: 200px;
                border-radius: 50%;
            }

            div {
                margin-left: 25px;

                h1 {
                    color: var(--main-purple);
                    font: normal normal 600 50px/55px 'Montserrat';
                }
    
                h2 {
                    color: white;
                }
            }

        }

        .introText{
            margin-left: 30px;

            h1{
                color: white;
                font-size: 40px;
                margin-bottom: 20px;
            }

            p{
                color: white;
                font-size: 20px;
                font-weight: normal;
                margin-bottom: 20px;
                line-height: 30px;
                button{
                    margin-left: 10px;
                    margin-top: 3px;
                    background-color: var(--main-black);
                    border: 1px solid var(--main-purple);
                    border-radius: 5px;
                    padding: 5px;
                    cursor: pointer;
                    color: (var(--main-purple))
                }
            }
        }
    }
}
.projectTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100%;
    background-color: var(--main-black);
    padding-bottom: 250px;
    h1{
        color: white;
        background-color: var(--main-black);
        font-size: 50px;
        font-weight: semi-bold;
        padding-bottom: 50px;
    }

    .projectCard {
        img {
            position: relative;
            z-index: 10;
        }
    }
}

@keyframes titleChange {
    0% {
        content: "Ponch";
        opacity: 1;
    }
    25% {
        content: "Ponch";
        opacity: 0.6;
    }
    26% {
        content: "Shux";
        opacity: 0.6;
    }
    50% {
        content: "Shux";
        opacity: 1;
    }
    75% {
        content: "Shux";
        opacity: 0.6;
    }
    76% {
        content: "Pornchai - C.";
        opacity: 0.6;
    }
    100% {
        content: "Pornchai - C.";
        opacity: 1;
    }
}

@keyframes scroll1 {
	0% {
		opacity: 1;
		top: 0
	}
	50% {
		top: 50%
	}
	100% {
		top: 98.35%;
		opacity: 0.5;
	}
}
@keyframes scroll2 {
	0% {
		opacity: 1;
		bottom: 0
	}
	50% {
		bottom: 50%
	}
	100% {
		bottom: 98.35%;
		opacity: 0.5;
	}
}

@keyframes rect1 {
    0% {
        right: -3px;
        width: 0;
    }
    25% {
        right: -3px;
        width: 25%;
    }
    50%{
        right: 75%;
        width: 25%;
    } 
    75% {
        right: 100%;
        width: 0;
    }
} 

@keyframes rect2 {
    0% {
        top: 75%;
        height: 25%;
    }
    25% {
        top: 100%;
        height: 0%;
    }
    50% {
        top: -3px;
        height: 0%;
    }
    75%{
        top: -3px;
        height: 25%;
    } 
    100% {
        top: 75%;
        height: 25%;
    }
} 

@keyframes rect3 {
    0% {
        left: -3px;
        width: 0;
    }
    25% {
        left: -3px;
        width: 25%;
    }
    50%{
        left: 75%;
        width: 25%;
    } 
    75% {
        left: 100%;
        width: 0;
    }
} 

@keyframes rect4 {
    0% {
        bottom: 75%;
        height: 25%;
    }
    25% {
        bottom: 100%;
        height: 0%;
    }
    50% {
        bottom: -3px;
        height: 0%;
    }
    75% {
        bottom: -3px;
        height: 25%;
    }
    100% {
        bottom: 75%;
        height: 25%;
    }
} 

@media screen and (max-width: 800px) {
        .pgContainer{
            .text{
                h1{
                    font-size: 40px;
                    
                }
                h2{
                    font-size: 40px;
                }
                h3{
                    font-size: 20px;
                }
            }
        }

.homeButtonpurple,.homeButtonblack{

    padding: 15px 15px;

    }

.introContainer{
    padding: 100px 0;
    .introBox{
        width: 95vw;
        box-shadow: 4px 2px 15px 1px #d7d7d75e;
        .profile {
            justify-content: center;
            align-items: center;
            img {
                display: none;
            }
            div {
                margin-left: 0;
                h1{
                    font-size: 35px;
                }
            }
        }
        .introText {
                margin-left: 0;
            }
        }
    }

    .projectTitle{
        padding-bottom: 150px;
        h1{
            margin-top: 20px;
        }
    }
}