.homeContainer {
    min-height: 100vh;
    overflow-x: hidden;
}

.pgContainer{
    width: 100vw;
    height: 100vh;
    background-color: var(--main-black);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .text{
        text-align: center;
        z-index: 10;

        h1{
            color: white;
            font-family: roboto, arial, helvetica;
            font-size: 60px;
            a{
                color: var(--main-purple);
            }
        }
        h2{
            color: white;
            font-family: roboto, arial, helvetica;
            font-size: 60px;
        }
        h3{
            padding-top: 15px;
            color: rgb(255, 255, 255);
            font-family: Roboto, arial, helvetica;
            font-size: 30px;
            font-weight: normal;
        }

        .buttonContainer{
            display: flex;
            margin-top: 25px;
            justify-content: center;
        }
    }
}
.homeButtonpurple{
    font: normal normal 600 18px/25px 'Helvetica';
    border: none;
    border-radius: 8px;
    background-color: var(--main-purple);
    color: white;
    padding: 15px 50px;
    cursor: pointer;
    transition-duration: 0.2s;
    margin: 0 10px;

    &:hover {
        background-color: var(--main-purple-hover);
    }
}
.homeButtonblack{
    font: normal normal 600 18px/25px 'Helvetica';
    border: 1px solid white;
    border-radius: 8px;
    background-color: var(--main-black);
    color: white;
    padding: 15px 50px;
    cursor: pointer;
    transition-duration: 0.2s;
    margin: 0 10px;

    &:hover {
        background-color: var(--main-purple-hover);
    }
}

.separator1{
    width: 100%;
    height: 1px;
    background-color: rgb(82, 82, 82);
    border: none;
}

.separator2{
    width: 100%;
    height: 1px;
    background-color: rgb(82, 82, 82);
    border: none;
}

.introContainer{
    width: 100vw;
    padding: 200px 0;
    background-color: var(--main-black);
    display: flex;
    align-items: center;
    justify-content: center;

    .introBox{
        width: 70vw;
        background-color: var(--main-black);
        border-radius: 15px;
        border: 3px solid #1c1e22;
        padding: 30px;
        box-shadow: 5px 5px 16px 7px #d7d7d75e;
        .profile{
            display: flex;
            align-items: center;
            margin-bottom: 30px;

            img{
                background-size: cover;
                background-position-y: -75px;
                background-repeat: no-repeat;
                width: 200px;
                height: 200px;
                border-radius: 50%;
            }

            div {
                margin-left: 25px;

                h1 {
                    color: var(--main-purple);
                    font: normal normal 600 50px/55px 'Montserrat';
                }
    
                h2 {
                    color: white;
                }
            }

        }

        .introText{
            margin-left: 30px;

            h1{
                color: white;
                font-size: 40px;
                margin-bottom: 20px;
            }

            p{
                color: white;
                font-size: 20px;
                font-weight: normal;
                margin-bottom: 20px;
                line-height: 30px;
                button{
                    margin-left: 10px;
                    margin-top: 3px;
                    background-color: var(--main-black);
                    border: 1px solid var(--main-purple);
                    border-radius: 5px;
                    padding: 5px;
                    cursor: pointer;
                    color: (var(--main-purple))
                }
            }
        }
    }
}
.projectTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100%;
    background-color: var(--main-black);
    padding-bottom: 250px;
    h1{
        color: white;
        background-color: var(--main-black);
        font-size: 50px;
        font-weight: semi-bold;
        padding-bottom: 50px;
    }
}




