.projectContainer {
    background-color: var(--main-black);
    overflow-x: hidden;
main {
    padding: 100px 25px;
    div {
        color: white;
        text-align: center;
        h1{
            font-size: 50px;
        }
    }
}
}



